body {
  background: url(/img/mcec_mini.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: 'Flux Regular';
    src: url('/fonts/FLUXRegular.ttf');
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 1em;
}

h1,h2,h3,h4,h5 {
    font-family: 'Flux Regular';
}

.font-flux {
    font-family: 'Flux Regular';
}

.nav-head {
    font-weight: bold;
    margin-left: .5em;
}

#t-shirt td {
    padding-right: 2em;
}

.mandatory {
  color: #ff0000;
  background: inherit;
  margin-right: 5px;
  float: left;
}

ul.entries {
  list-style-type: none;
}
